@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

header {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./img/bannerHeader.png");
  background-repeat: no-repeat;
  background-size: contain;
}
header .box-header {
  margin-top: 30px;
  width: 80%;
  height: 10vh;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
}
header .box-header img {
  width: 15%;
  height: auto;
  cursor: pointer;
}
header .box-header nav {
  width: 40%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header .box-header nav a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.box-banner {
  width: 80vw;
  height: 70vh;
  display: flex;
  align-items: center;
}
.box-banner .box-titulo {
  height: 60vh;
}
.box-banner .box-titulo h2 {
  font-size: 2.7rem;
  font-weight: bold;
  background: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  width: 75%;
  margin-bottom: 15px;
}
.box-banner .box-titulo p {
  font-size: 26px;
  line-height: 100%;
  width: 70%;
  margin-bottom: 25px;
}

.btn-blue {
  width: 257px;
  height: 44px;
  margin-top: 30px;
  border: none;
  background-color: #1173d4;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.btn-white {
  width: 162px;
  height: 44px;
  margin-top: 10px;
  border: 0.5px solid #1173d4;
  background-color: #f9fafb;
  color: #1173d4;
  border-radius: 10px;
  cursor: pointer;
}

.exames-rotina {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  margin-top: 15px;
}
.exames-rotina h3 {
  font-size: 2.5rem;
  font-weight: 700;
  font-style: bold;
  background: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-bottom: 20px;
  margin-top: 15px;
}
.exames-rotina p {
  font-size: 20px;
  width: 60%;
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
}

#cards-exames {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
  margin-top: 30px;
  flex-direction: row;
  justify-content: center;
}

.card1,
.card2,
.card3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  padding: 1rem;
  width: 282px;
  height: 202px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}
.card1 img,
.card2 img,
.card3 img {
  width: 15%;
  height: auto;
  margin-bottom: 15px;
}
.card1 h4,
.card2 h4,
.card3 h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.card1 p,
.card2 p,
.card3 p {
  font-size: 18px;
  text-align: center;
  width: 80%;
}

.prevencao-feminina {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdefef;
}
.prevencao-feminina h3 {
  font-size: 2.5rem;
  font-weight: 700;
  font-style: bold;
  background: linear-gradient(to right, rgba(249, 1, 111, 0.54) 0%, rgba(147, 8, 133, 0.62) 50%, rgba(208, 56, 170, 0.75) 75%, rgb(133, 28, 135) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-bottom: 20px;
  margin-top: 15px;
}

#cards-feminino {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  align-items: center;
  margin-top: 30px;
  flex-direction: row;
  justify-content: center;
}
#cards-feminino img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
#cards-feminino h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
#cards-feminino li {
  font-size: 14px;
  text-align: center;
  width: 80%;
  margin-bottom: 8px;
}

.card-prev1,
.card-prev2,
.card-prev3,
.card-prev4,
.card-prev5,
.card-prev6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  padding: 1rem;
  width: 250px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.prevencao-masculina {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
}
.prevencao-masculina h3 {
  font-size: 2.5rem;
  font-weight: 700;
  font-style: bold;
  background: linear-gradient(to right, #3373d2 0%, #6f95c7 100%, #7bb5f5, #0074ee, #5ea7ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}/*# sourceMappingURL=style.css.map */