@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

header {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./img/bannerHeader.png");
    background-repeat: no-repeat;
    background-size: contain;

    .box-header {
        margin-top: 30px;
        width: 80%;
        height: 10vh;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: linear-gradient(to right, #4247a2 0%, #52b095 100%);

        img {
            width: 15%;
            height: auto;
            cursor: pointer;
        }

        nav {
            width: 40%;
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            a {
                color: #fff;
                font-family: "Roboto", sans-serif;
                cursor: pointer;
            }
        }
    }
}

.box-banner {
    width: 80vw;
    height: 70vh;
    display: flex;
    align-items: center;

    .box-titulo {
        height: 60vh;

        h2 {
            font-size: 2.7rem;
            font-weight: bold;
            background: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
            font-weight: bold;
            width: 75%;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        p {
            font-size: 26px;
            line-height: 100%;
            width: 70%;
            margin-bottom: 25px;
        }
    }
}

.btn-blue {
    width: 257px;
    height: 44px;
    margin-top: 30px;
    border: none;
    background-color: #1173d4;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.btn-white {
    width: 162px;
    height: 44px;
    margin-top: 10px;
    border: 0.5px solid #1173d4;
    background-color: #f9fafb;
    color: #1173d4;
    border-radius: 10px;
    cursor: pointer;
}

.exames-rotina {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    margin-top: 15px;

    h3 {
        font-size: 2.5rem;
        font-weight: 700;
        font-style: bold;
        background: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        margin-bottom: 20px;
        margin-top: 15px;
    }

    p {
        font-size: 20px;
        width: 60%;
        text-align: center;
        font-weight: 400;
        margin-bottom: 10px;
    }
}

#cards-exames {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    margin-top: 30px;
    flex-direction: row;
    justify-content: center;
}

.card1,
.card2,
.card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    padding: 1rem;
    width: 282px;
    height: 202px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;

    img {
        width: 15%;
        height: auto;
        margin-bottom: 15px;
    }

    h4 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    p {
        font-size: 18px;
        text-align: center;
        width: 80%;
    }
}

.prevencao-feminina {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdefef;

    h3 {
        font-size: 2.5rem;
        font-weight: 700;
        font-style: bold;
        background: linear-gradient(
            to right,
            rgba(249, 1, 111, 0.54) 0%,
            rgba(147, 8, 133, 0.62) 50%,
            rgba(208, 56, 170, 0.75) 75%,
            rgb(133, 28, 135) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        margin-bottom: 20px;
        margin-top: 15px;
    }
}

#cards-feminino {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-items: center;
    margin-top: 30px;
    flex-direction: row;
    justify-content: center;

    img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
        object-fit: cover;
    }

    h4 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    li {
        font-size: 14px;
        text-align: center;
        width: 80%;
        margin-bottom: 8px;
    }
}

.card-prev1,
.card-prev2,
.card-prev3,
.card-prev4,
.card-prev5,
.card-prev6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    padding: 1rem;
    width: 250px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.prevencao-masculina {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;

    h3 {
        font-size: 2.5rem;
        font-weight: 700;
        font-style: bold;
        background: linear-gradient(to right, #3373d2 0%, #6f95c7 100%, #7bb5f5, #0074ee, #5ea7ef);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }
}

.alertas {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        font-size: 2.5rem;
        font-weight: 700;
        font-style: bold;
        background: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        margin-bottom: 20px;
        margin-top: 15px;
    }
}

#cards-alerta {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 80%;
    margin: 30px auto 0;
    padding: 10px;
    gap: 20px;
    align-items: center;
}

.card-alerta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    width: 416px;
    height: 141px;
    border-radius: 10px;

    img {
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
    }

    h5 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    p {
        font-size: 15px;
        text-align: center;
        font-weight: 400;
    }
}

.card-cabecalho {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;

    img {
        margin-right: 10px;
        margin-bottom: 0;
    }

    h5 {
        margin: 0;
    }
}

.card-alerta--pink {
    background-color: #f9d5e5;
    h5,
    p {
        color: #ad346a;
    }
}

.card-alerta--blue {
    background-color: #cfe2f3;
    h5,
    p {
        color: #2769a3;
    }
}

.card-alerta--green {
    background-color: #d4edda;
    h5,
    p {
        color: #244a2d;
    }
}

.card-alerta--yellow {
    background-color: #ffe9c2;
    h5,
    p {
        color: #976c00;
    }
}

footer {
    width: 100%;
    height: 350px;
    background-color: #313461;
    color: #ffffff;
    padding: 40px 0 0;
    font-family: Poppins, sans-serif;
    margin-top: 15px;

}

.footer-principal-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 90%; 
    max-width: 1200px;
    margin: 0 auto 30px; 
    padding-bottom: 30px;
}

.footer-coluna,
.footer-coluna-logo {
    padding: 0 15px;
    width: 30%; 
}

.footer-coluna-logo {
    width: 35%;
    
    .logo-footer {
        width: 165px; 
        margin-bottom: 10px;
    }

    .slogan-principal {
        font-weight: bold;
        color: #ffffff;
        margin-top: 5px;
        margin-bottom: 15px;
        padding-bottom: 5px;
    }
    
    .slogan-secundario {
        font-size: 0.9rem;
        color: #ffffff;
    }
}

h6 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.lista-links {
    list-style: none;
    padding: 0;
    margin: 0;
    
    li {
        margin-bottom: 8px;
    }
    
    a {
        color: #ffffff;
        text-decoration: none;
        font-size: 16px
    }
}

.contato-email, 
.contato-emergencia {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #ffffff;
    margin-bottom: 5px;
}

.footer-copyright {
    padding: 15px 0;
    font-size: 16px;
    color: #ffffff;
    border-top: 1px solid #ffffff; 
    display: flex;
    align-items: center;
    justify-content: center;
}