@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

header {
   height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./img/bannerHeader.png");
    background-repeat: no-repeat;
    background-size: contain;

    .box-header {
        margin-top: 30px;
        width: 80%;
        height: 10vh;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: linear-gradient(to right, #4247A2 0%, #52B095 100%);

        img {
            width: 15%;
            height: auto;
        }

        nav {
            width: 40%;
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            a {
                color: #fff;
                font-family: "Roboto", sans-serif;
            }
        }
    }
}

.box-banner {
    width: 80vw;
    height: 80vh;
    display: flex;
    align-items: center;

    .box-titulo {
        height: 60vh;

        h2 {
            font-size: 2.7rem;
            font-weight: bold;
            background: linear-gradient(to right, #1173D4 0%, #33CC73 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
            font-weight: bold;
            width: 75%;
            margin-bottom: 15px;
        
        }

        p{
            font-size: 26px;
            line-height: 100%;
            width: 70%;
            margin-bottom: 25px;
        }
    }
}

.btn-blue{
    width: 257px;
    height: 44px;
    margin-top: 10px;
    border: none;
    background-color: #1173D4;
    color: #fff;
    border-radius: 10px;
}

.btn-white{
    width: 162px;
    height: 44px;
    margin-top: 10px;
    border: 0.50px solid #1173D4;
    background-color:#F9FAFB;
    color: #1173D4;
    border-radius: 10px;
}